[user]
	name = JosefLitos
	email = litosjos@fit.cvut.cz
[color]
  ui = true
[color "branch"]
  current = green
  local = default
  remote = red
[color "diff"]
  meta = blue
  frag = magenta
  old = red
  new = green
[color "status"]
  added = green
  changed = yellow
  untracked = blue
[pull]
	rebase = false
[push]
	autoSetupRemote = true
[alias]
	l = log --oneline --graph --decorate
	la = log --oneline --graph --decorate --all
[core]
	editor = nvim --cmd 'let g:unception_block_while_host_edits=1'
