configuration {
	matching: "normal";
	modi: "window,drun,run"; //ssh
	show-icons: true;
	terminal: "xterm";
	disable-history: true;
	sort: true;
	scroll-method: 1;
	window-format: "{w} {c} {t}";
	max-history-size: 0;
	kb-row-up: "Up,Alt+k";
	kb-row-down: "Down,Alt+j";
	kb-element-next: "";
	kb-accept-alt: "Tab,Shift+Return";
	kb-accept-entry: "Return,Alt+l";
	kb-cancel: "Escape,Super+q,Alt+h";
	icon-theme: "Icons";
}
@theme "theme"
// vim: ft=css
