configuration {
	matching: "normal";
	modi: "window,drun,run"; //ssh
	show-icons: true;
	terminal: "xterm";
	disable-history: true;
	sort: true;
	scroll-method: 1;
	window-format: "{w} {c} {t}";
	max-history-size: 0;
	kb-row-up: "Up";
	kb-row-down: "Down";
	kb-cancel: "Escape,Super+q";
	icon-theme: "Icons";
}
@theme "theme"
// vim: ft=css
